.destination {
    border: 5px solid #9ca499;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto 20px;
    max-width: 1200px;
    background-color: #fff;
    transition: 0.4s;
}

.destination img {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.destination h2 {
    float: right;
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Garamond", serif;
    font-size: 40px;
}

.destination p {
    float: right;
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.4;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin-top: -250px;
    width: 55%;
}

.btn-lrn-mre {
    background-color: #fff;
    color: #4CAF50;
    border: 1px solid #9ca499;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 55%;
    float: right;
    margin-top: -80px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    
}

.btn-lrn-mre:hover{
    background-color: #45a049;
    color: #fff;
    a{
        color: #fff;
    }
}

.destination:hover{
    background-color: #9ca499;
    color: #fff;
    max-width: 1230px;
}

.destination a{
    text-decoration: none;
}